<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/473d47a29d.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand">
            <span><%= link_to "Bookers", root_path %></span>
          </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <i class="fas fa-home nav-link text-light"><%= link_to "Home", user_path(current_user.id) %></i>
              </li>
              <li>
                <i class="fas fa-users nav-link text-light"><%= link_to "User", users_path %></i>
              </li>
              <li>
                <i class="fas fa-book-open nav-link text-light"><%= link_to "Books", books_path %></i>
              </li>
              <li>
                <i class="fas fa-sign-out-alt nav-link text-light"><%= link_to " logout ", destroy_user_session_path, method: :delete %></i>
              </li>
            <% else %>
              <li>
                <i class="fas fa-home nav-link text-light"><%= link_to "Home", root_path %></i>
              </li>
              <li>
                <i class="fas fa-link nav-link text-light"><%= link_to "About", about_path %></i>
              </li>
              <li>
                <i class="fas fa-user-plus nav-link text-light"><%= link_to " Sign up ", new_user_registration_path %></i>
              </li>
              <li>
                <i class="fas fa-sign-in-alt nav-link text-light"><%= link_to "Login", new_user_session_path %></i>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
